#box1 {
	border-bottom: 5px dotted #F4F4f2;
	border-right: 5px dotted #F4F4f2;
}
#box2 {
	border-bottom: 5px dotted #F4F4f2;
	border-right: 5px dotted #F4F4f2;
}
#box3 {
	border-bottom: 5px dotted #F4F4f2;
}
#box4 {
	border-bottom: 5px dotted #F4F4f2;
	border-right: 5px dotted #F4F4f2;
}
#box5 {
	border-bottom: 5px dotted #F4F4f2;
	border-right: 5px dotted #F4F4f2;
}
#box6 {
	border-bottom: 5px dotted #F4F4f2;
}
#box7 {
	border-right: 5px dotted #F4F4f2;
}
#box8{
	border-right: 5px dotted #F4F4f2;
}
#box9 {
	
}
body {
	background-color: #FFD464;
}
div {
	height: 100%;
	width: 100%;
	border-spacing: 0px;
	border-width: 3px;
}


table {
	margin: auto;
	outline-style: none;
}
tr {
	margin: 0;
	padding: 0;
	display: inline;
}

td {
	height: 130px;
	width: 130px;
	text-align: center;
	padding: 0;
	margin: 0;
}
td:hover {
		background-color: white;
}
h1 { 
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 110px;
	color: #F4F4f2;
	margin-bottom: 0px;
	margin-top: 8px;
	letter-spacing: 6px;

}
h2 {
	
	color: #30302F;
	font-family: 'Amatic SC', cursive;
	font-size: 32px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}
h3 {
	color: #30302F;
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 27px;
	margin-bottom: 20px;
	margin-top: 5px;
}
.kwest {
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 120px;
	color:#1453A4 ;
	
}
.tay {
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 120px;
	color:#FF1F4C;
	
}
.draw {
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 120px;
	color:#30302F;
	
}
div img {
	height: 110px;
	width: 110px;
	margin: auto;
	padding-top: 8px;
	padding-right: 4px;
}
.yeezy {
	height:110px;
	width: 85px;
	margin: auto;
	padding-top: 9px;
}

.one {
	color: #1453A4;
}
.three {
	color: #FF1F4C;
}
button {
	font-size: 20px;
	text-align: center;
    border: none;
    border-radius: 10%;
    color:#F4F4f2 ;
    background-color: #1453A4;
    font-family: 'Amatic SC', cursive;
}
.wrapper {
	margin-top: 30px;
    text-align: center;
}

