<!DOCTYPE html>
<html ng-app='tickTacToe'>

<head>
  <!-- CSS -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
  <!-- Angular JS -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"> </script>
  <!-- Javascript -->
	<script src="js/main.js"></script>
  <!-- Fonts  -->
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC:700' rel='stylesheet' type='text/css'>
	<title> tic tac toe</title>
</head>

<!-- Headers -->
<body ng-controller="gameController">
  <h1 ng-show="header"> - TIC TAC TOE -  </h1>
  <h1 class ="kwest" ng-show="yeezyWins"> - YEEZY WINS!! - </h1>
  <h1 class ="tay" ng-show="tswiftWins"> - TSWIFT WINS!! - </h1>
  <h1 class ="draw" ng-show="draw"> - ITS A TIE - </h1>
<!-- Second Row of Headers -->
  <h2> 
    <span class="one">( OR THE IMA LET YOU FINISH.. </span>
    BUT BEYONCE HAD ONE OF THE 
    <span class="three">BEST MUSIC VIDEOS OF ALL TIME!!!) </span>
  </h2>

  <h3> 
    <span class="one"> 
     - KANYE WEST: {{oneWins}} 
    </span>
    DRAW: {{drawCounter}}
    <span class="three"> 
      TAYLOR SWIFT: {{twoWins}} - 
    </span>
  </h3>
  
  <table>
  <tr>
    <!-- This is for Box 1 -->
    <td id="box1"> 
      <div class="button" ng-click="boxOne()">    <span ng-hide="showOneFirst">
            <img class="yeezy" src="Images/Yeezy.png">
        </span>
        <span ng-hide="showOneSecond">
            <img src="Images/Taylor.png">
        </span>
      </div>
    </td>
    <!-- This is for box 2 -->
    <td id="box2">
    <div class="button" ng-click="boxTwo()">    
      <span ng-hide="showTwoFirst">
            <img class="yeezy" src="Images/Yeezy.png">
        </span>
        <span ng-hide="showTwoSecond">
            <img src="Images/Taylor.png">
        </span>
      </div>
    </td>
    <!-- This is for box 3 -->
    <td id="box3">
      <div class="button" ng-click="boxThree()">    <span ng-hide="showThreeFirst">
            <img class="yeezy" src="Images/Yeezy.png">
        </span>
        <span ng-hide="showThreeSecond">
            <img src="Images/Taylor.png">
        </span>
      </div>
    </td>
  </tr>
  <!-- End of the first Row -->
  <tr>
    <!-- This is for box 4 -->
    <td id="box4"> 
      <div class="button" ng-click="boxFour()">    <span ng-hide="showFourFirst">
            <img class="yeezy" src="Images/Yeezy.png">
        </span>
        <span ng-hide="showFourSecond">
            <img src="Images/Taylor.png">
        </span>
      </div>
    </td>
    <!-- This is for box 5 -->
    <td id="box5">
      <div class="button" ng-click="boxFive()">    <span ng-hide="showFiveFirst">
            <img class="yeezy" src="Images/Yeezy.png">
        </span>
        <span ng-hide="showFiveSecond">
            <img src="Images/Taylor.png">
        </span>
      </div>
    </td>		
    <!-- This is for box 6 -->
    <td id="box6">
      <div class="button" ng-click="boxSix()">    <span ng-hide="showSixFirst">
            <img class="yeezy" src="Images/Yeezy.png">
        </span>
        <span ng-hide="showSixSecond">
            <img src="Images/Taylor.png">
        </span>
      </div>
    </td>
    <!-- The end of the Second Row -->
  </tr>
  <tr>
    <!-- This is for box 7 -->
    <td id="box7">
      <div class="button" ng-click="boxSeven()">    <span ng-hide="showSevenFirst">
            <img  class="yeezy" src="Images/Yeezy.png">
        </span>
        <span ng-hide="showSevenSecond">
            <img src="Images/Taylor.png">
        </span>
      </div>
    </td>
    <!-- This is for box 8 -->
    <td id="box8">
      <div class="button" ng-click="boxEight()">    <span ng-hide="showEightFirst">
            <img class="yeezy" src="Images/Yeezy.png">
        </span>
        <span ng-hide="showEightSecond">
            <img src="Images/Taylor.png">
        </span>
    </td>		
    <!-- This is for box 9 -->
    <td id="box9">
      <div class="button" ng-click="boxNine()">    <span ng-hide="showNineFirst">
            <img class="yeezy" src="Images/Yeezy.png">
        </span>
        <span ng-hide="showNineSecond">
            <img src="Images/Taylor.png">
        </span>
      </div>
    </td>
  </tr>
  <!-- The end of the third row -->
  </table>
  <!-- This is the end of the tic tac toe game board -->
</div>
<div class="wrapper">
    <button ng-click="resetGame()">New Game</button>
</div>
</body>
</html>